<div id="ctn-phone-top" class="container">
  <br>
  <wrapper class="unique-form-page">

    <form id="milo" class="unique-form-page" role="form" action="/sessions" accept-charset="UTF-8" method="POST">
      <img class="logo" src="/stylesheets/images/logo/logo.png" alt="ZenRx"/>
      <h1 class="unique-form-page">Log In</h1>
      <label class="unique-form-page" for="user-username"><input class="unique-form-page" type="text" name="username" id="username" placeholder="Username" required/></label>
      <label class="unique-form-page" for="user-password"><input class="unique-form-page" type="password" name="password" id="password" placeholder="Password" required/></label>
      <button class="unique-form-page red" type="submit"><i class="icon fa fa-lock" aria-hidden="true"></i> Log In</button>

        <div class="unique-form-page segment">
          <p>Don't have an account?</p>
          <button class="unique-form-page red" type="button"><a class="unique-form-page" href="/signup">Sign Up</a></button>
        </div> 
    </form>
  </wrapper>

  <div class="push"></div> 
</div>