<div id="ctn-phone-top" class="container">
  <br>

    <%= "Must include email and password" if @user && @user.errors.any? %>
    <wrapper class="unique-form-page">
      <form class="unique-form-page" role="form" action="/registrations" accept-charset="UTF-8" method="POST">
        <img class="logo" src="/stylesheets/images/logo/logo.png" alt="ZenRx"/>
        <h1 class="unique-form-page">Sign Up</h1>
        <label class="unique-form-page" for="user-firstname"><input class="unique-form-page" type="text" name="user[firstname]" id="firstname" placeholder="First Name" required/></label>
        <label class="unique-form-page" for="user-lastname"><input class="unique-form-page" type="text" name="user[lastname]" id="lastname" placeholder="Last Name" required/></label>
        <label class="unique-form-page" for="user-username"><input class="unique-form-page" type="text" name="user[username]" id="username" placeholder="Username" required/></label>
        <label class="unique-form-page" for="user-email"><input class="unique-form-page" type="text" name="user[email]" id="email" placeholder="Email Address" required/></label>
        <label class="unique-form-page" for="user-password"><input class="unique-form-page" type="password" name="user[password]" id="password" placeholder="Password" required/></label>
        <button class="unique-form-page red" type="submit"><i class="icon fa fa-lock" aria-hidden="true"></i> Sign Up</button>

          <div class="unique-form-page segment">
            <p>Already have an account?</p>
            <button class="unique-form-page red" type="button"><a class="unique-form-page" href="/login">Log In</a></button>
          </div> 
      </form>
    </wrapper>

  <div class="push"></div> 
</div>
